extends layout

block content
  
  app-expense-page

block scripts
  script(src='/polyfills.9d3b1e9deb7f05e1.js')
  script(src='/main.1423d8c2d19c804e.js')
  script(src="/runtime.5208027f706e9586.js")