extends layout

block content

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/expense') Expense Tracker
    button.btn.btn-outline-danger.ml-auto(type='button') Logout


  .container.mt-4

    .row.mb-4
      .col-md-12
        div.card.border-0
          div.card-body
            h5.card-title.text-center.mb-4 Expense Statistics
            // Modern stats display using flexbox
            .d-flex.justify-content-around
              .text-center
                h6 Total Spend This Month
                p.card-text.font-weight-bold $500
              .text-center
                h6 Highest Purchase
                p.card-text.font-weight-bold $200
              .text-center
                h6 Groceries
                p.card-text.font-weight-bold $150
              .text-center
                h6 Entertainment
                p.card-text.font-weight-bold $100
              .text-center
                h6 Travel
                p.card-text.font-weight-bold $50


    .row
      .col-md-12
        table.table.table-hover.text-center 
          thead
            tr
              th(scope='col') Name
              th(scope='col') Amount
              th(scope='col') Category
          tbody
            each expense in expenses
              tr
                td= expense.name
                td= expense.amount
                td= expense.category 