doctype html
html
  head
    title Express with Bootstrap
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Bootstrap CSS (via CDN)
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles.8296f4a196814c99.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  body
    block content

    // Bootstrap JS and dependencies (via CDN)
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' defer)
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' defer)
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' defer)
    block scripts