doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preload', href='/stylesheets/bootstrap.min.css', as='style', onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block content